<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <h1 class="m-2">{{ design.title }}</h1>
    <div class="row m-2">
        <div class="col-md-8">
            <img src="{{ design.image }}" width="100%">
        </div>
        <div class="col-md-4">
            <h4>{{ design.description }}</h4>
        </div>
        <a class="btn btn-primary m-3" href="/design/">Back</a>
    </div>
{% endblock %}