<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block nav-style %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a href="/design/" class="navbar-brand">MIELDAZIS | architectural design</a>
        <a href="/design/" class="nav-link">design</a>
        <a href="/blog/" class="nav-link">blog</a>
    </nav>


{% endblock %}

{% block page_content %}

{% endblock %}